<!-- main content -->
    <div id="content">
      <article>
        <h2>Sobre Nosotros</h2>
   <hr size="6" noshade>
   <h6>Misión</h6>
        <p>Conntribuir a la difusión de la cultura y entretenimiento, creando espacios propicios para el encuentro          con el conocimiento. Atendiendo el compromiso moral con nuestro entorno, nuestros colaboradores y                  accionistas.</p>
   <h6>Visión</h6>
        <p>Consolidar el liderazgo de la marca, accediendo a nuevos mercados y enriqueciendo nuestra oferta               cultural hacia el año 2018.</p>
   <h6>Valores</h6>
        <p><f1>RESPETO.</f1> A todos los colaboradores, clientes y proveedores. No toleramos abusos de autoridad.
        <br><f1>DIVERSIDAD.</f1> No discriminamos y otorgamos  las mismas oportunidades de desarrollo.
        <br><f1>AUTENTICIDAD.</f1> Divertidos, genuinos, libertad de expresión.
        <br><f1>INNOVACIÓN.</f1> Pensamos constantemente en nuevas ideas.
        <br><f1>AUDACIA.</f1> Asumimos retos desafiantes.
        <br><f1>ACTITUD DE SERVICIO.</f1> Vocación de servir.
        <br><f1>INTEGRIDAD.</f1> Cumplimos nuestros compromisos, nos conducimos con honestidad.
        <br><f1>PASION.</f1> Nos sentimos atraídos por la cultura.
        <br><f1>TRABAJO EN EQUIPO.</f1> Valoramos la aportación individual en beneficio del equipo.</p>
        <br>
    </article>
      
    
    <!-- / content body -->
  