<!-- main content -->
    <div id="content">
      <article>
        <h2>Ubicacion</h2>
   <hr size="6" noshade>
        Calle Cuauhtémoc 1234, Col. Centro.
        <br>Chihuahua, Chih., México, C.P. 31000
        <br>Tel. (614) 410-1010
        <br>Esquina con Av. Juárez.
        <br><br>
    <img src="http://i.imgur.com/QW4PO5A.png" alt="">
        <br>
    </article>
      
    
    <!-- / content body -->
 